body {




}

.left-bank {
  border: 2px solid blue;
  max-width: 600px;
  float: left;
}

.right-bank {
  border: 2px solid green;
  max-width: 600px;
  float : right;
}
 .view {
   min-height : 100vh;
   display: flex;
   justify-content: space-between;
  background: url("images/fond.png") top center no-repeat;
   background-size : cover;
   margin-bottom : 0px
   }


footer {
  overflow: hidden;
  clear: both;
}

img {
	width: 200px;


}
}
